*{
    margin: 0;
    padding: 0;
    font-family:  Lato,Helvetica Neue,helvetica,sans-serif;

}
:root{
    --back-box:#ff4800;
    --background: #423d3d;
    --logo: #f42121;
    --font-color: #ff4800;
    --font-h1:#ffffff;
    --box-shadown:rgba(241, 124, 28, 0.43); 

}
/*Tag Main*/
body{
    background-image: url();
    align-items: center;
    justify-content: center;
}
header nav{

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    font-size: 16px;
    background-color: var(--background);
    -webkit-box-shadow: -1px 8px 7px -5px var(--box-shadown);
    -moz-box-shadow: -1px 8px 7px -5px  var(--box-shadown);
    box-shadow: -1px 8px 7px -5px  var(--box-shadown);
}

/*Navbar*/
nav{
    display: flex;
    justify-content: center;
    font-size: 20px;
    position: relative;
    padding: 10px 16px;
}
nav h1 {
    cursor: pointer;
   
    text-decoration: underline var(--font-color);
    color:var(--font-h1);
}
nav h1  span{
    text-decoration: underline var(--font-h1);
    color: var(--font-color);
}
nav li{
    list-style-type: none;
}
nav a{
    color: var(--font-color) ;
    text-decoration: none;
}
/*Logo*/
#logo{
    margin-right: 600px;
}
/*Dropdown*/
#dropdown{
    position: relative;
    background-color: var(--background);
    padding: 5px 19px;
    color: var(--font-color);
} #dropdown span{
    margin-left: 20px;
    margin-right: -5px;
}
#relative{
    display: none;
    position: absolute;
    top:28px;
    border-left: 1px solid var(--back-box);
    border-bottom: 1px solid var(--back-box);
    left: 25px;
    height: 199px;
    width: 180px;
    align-items: center;
    justify-content: center;
    animation: relative 1s ease 0s 1 normal forwards;
    background-color: var(--background);
}#relative li{
    margin-left: 30px;
    padding: 15px 0px;
    list-style-type:disc;
} #dropdown:hover #relative{
    display: block;
}
#relative a{
    
    margin-left:10px;
    text-align: left;
}
#relative a:hover{

    color: var(--font-h1);
}
@keyframes relative {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}
/*Manga and Games*/
#navbar{
    align-items: center;
    display: flex;
}#navbar a{
    padding: 15px 16px;
}#navbar a:hover{
    color:var(--font-h1);
    transition: 123ms;
}#btn{
    justify-content: right;
    display: flex;
}
@media (max-width:1012px){
    #Nav-tablet{display: none;
}}
@media (max-width:1010px){
    /*ViewPort Tablets*/
    header{
        display: none;
    }
    nav{
        display: none;
    }#logo{
        display: none;
    }
   /*Navbar*/
    #Nav-tablet{
        justify-content: space-between;
        align-items: center;
        display: flex;
        font-size: 16px;
        height: 40px;
        background-color: var(--background);
        
   }#Nav-tablet a{
        text-decoration: none;
            color: var(--font-h1);
    }
    #Nav-tablet ul li{
        display: flex;
        padding: 15px 16px;
    }
    
    /*Logo-Tablet*/
    #logo-tablet h1{
        cursor: pointer;
        margin-left: 20px;
        color: var(--font-h1);
        text-decoration: underline var(--back-box);

    }
    #logo-tablet span{
        color: var(--back-box);
        text-decoration: underline var(--font-h1);
    }
    
#container{
    width: 20px;
    margin-right: 20px;
}
#check{
    opacity: 0;
    position: absolute;

}  label{

    cursor: pointer;
    height: 22px;
    width: 30px;
} label span{
    position: relative;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: #f16234;
    transition: 0.25 ease-in-out;
}
 label span:nth-child(1){
    margin-top: 0;
}
 label span:nth-child(2){
    margin-top: 1px;
    background-color: var(--font-h1);
}
 label span:nth-child(3){
    margin-top: 1px;
}
    #check:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 6px;
    background-color: var(--font-h1);
  }
  
  #check:checked + label span:nth-child(2){
    opacity: 0;
  }
  
  #check:checked + label span:nth-child(3){
    transform: rotate(45deg);
        top:-6px;

  }
}